@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
    /*--main_color: #46aec9;*/
    /*--sub_color: #57c1dd;*/
    --main_color: #E84A27;
    --sub_color: #E84A27;
    --url_color: #999999;
    --graybg_color: #efefef;
    --graybrd_color: #d5d5d5;
}

html {
    overflow-y: scroll; 
}

body {
    margin: 1em auto;
    width: 80%;
    text-align: justify;
    font-family: Raleway, sans-serif;
}

a {
    text-decoration: none;
    color: var(--url_color);
}

a:hover {
    text-decoration: underline;
}

a.btn {
    /*-moz-box-shadow:inset 0px -3px 7px 0px #46aec9;*/
    /*-webkit-box-shadow:inset 0px -3px 7px 0px #46aec9;*/
    /*box-shadow:inset 0px -3px 7px 0px #46aec9;*/
    background-color: var(--main_color);
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
    /*border:1px solid #0b0e07;*/
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 1em;
    padding: 0.2em 1em;
    text-decoration:none;
    margin-top: 0.2em;
    font-size: 1em;
}

a.btn:hover {
    background-color: var(--sub_color);
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
    line-height: 1.8em;
    color: #333;
}

p.spacer {
    margin-bottom: 2.5em;
}

p.sub {
    line-height: 1.2em;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
}

footer {
    border-top: 1px solid var(--graybrd_color);
    font-size: .8em;

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5em;
    background-color: var(--graybg_color);
    text-align: right;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
    padding-bottom: 10em;
}

ul.posts {
    list-style: none;
}

li {
    padding-bottom: 1em;
}

hr {
    border : 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

img.pub_img {
    float: left;
    /*margin: 0em 1em 2em 0em;*/
    width: 100%;
}

img.scalable {
    max-height: 100%;
    max-width: 100%;
}

pre {
    overflow: auto;
    font-family: monospace;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    background: var(--graybg_color);
    border: 1px solid var(--graybrd_color);
}

em {
    color: var(--main_color);
    font-weight: bold;
}

table {
    font-size: 1em;
}

table.news_table td:first-child {
    text-align: right;
    padding-right: 2em;
}

table.round_table {
    background-color: var(--graybg_color);
    padding: 0.5em;
    border-radius: 0.5em;
    margin-left: auto; 
    margin-right: auto;
}


/*---------------------------------------------------------------------------*/
/*format by id*/
#whole_page {
    width: 100%;
    padding-top: 0.5em;
}

#main_content {
    /*display: inline-block;*/
    width: 75%;
    float: left;
}

#side_info {
    /*display: inline-block;*/
    width: 20%;
    float: right;
    text-align: center;
}
